<div class="row">
    <div class="col-3 side-navbar">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a (click)="activarItem(1)" class="nav-link" id="crear" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="user-crear">Crear Proyecto</a>
      <a (click)="activarItem(2)" class="nav-link" id="proyectos" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false" routerLink="user-proyectos">Mis Proyectos</a>
      <a (click)="activarItem(3)" class="nav-link" id="desarrolladores" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false" routerLink="user-desarrolladores">Desarrolladores</a>
    </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>


<script type="text/javascript"> 
        $(".nav-link").click(function() { 
            var menus = $(".nav-link"); 

            for (let i = 0; i < menus.length; i++) { 
                menus[i].classList.remove("active"); 
            } 

            this.classList.add("active"); 
        }); 
</script>