<header class="cabecera">
  <div id=logo>
    <h1><a class="h1logo" routerLink="inicio">Sistema Staffing</a></h1>
  </div>
  <div class="navegacion-cabecera">
      <a class="seccion" routerLink="proyectos-menu">Proyectos <span class="sr-only">(current)</span></a>
      <a class="seccion" routerLink="colaboradores">Colaboradores <span class="sr-only">(current)</span></a>

      <nav class="main-nav">
        <app-modal></app-modal>
      </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="section footer-classic context-dark bg-image" >
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <div class="pr-xl-4">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia natus similique unde quia quae fugiat obcaecati.</p>
                    <!-- Rights-->
                    <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Sistema Staffing</span><span>. </span><span>Todos los derechos reservados.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <h5>Contactos</h5>
                <dl class="contact-list">
                    <dt>Dirección:</dt>
                    <dd>Manuel Montt 367, Providencia</dd>
                </dl>
                <dl class="contact-list">
                    <dt>Correo:</dt>
                    <dd><a href="mailto:#">staffingumayor@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Teléfonos:</dt>
                    <dd><a href="tel:#">+569 1234 5678</a> <span>or</span> <a href="tel:#">+569 8765 4321</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="#">Colaboradores</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

