<main>
  <div class="contenido">
    <h2>Colaboradores</h2>
    <div class="row centrado">

      <div *ngFor="let user of colaboradores" class="col-lg-4">
        <div class="panel panel-default userlist">
          <div class="panel-body text-center">
            <div class="userprofile">
              <div class="userpic"> <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="userpicimg"> </div>
              <h3 class="username">{{user.nombre}}</h3>
              <p>{{user.estado}}</p>
            </div>
            <div class="aptitudes">
              <strong>Aptitudes</strong><br>
              <ul>
                <li *ngFor ="let habilidad of user.habilidades">{{habilidad}}</li>
              </ul>
              <br>
            </div>
            <p>
              <a>{{user.user}}</a> 
            </p>
            
          </div>
          <div class="panel-footer"> <a href="" class="btn btn-link">Ver perfil</a></div>
        </div>
      </div>

    </div>
            
  </div>
</main>